# Core ML / DL
torch==2.8.0+cpu
torchvision==0.23.0+cpu
torchaudio==2.8.0+cpu

# Data processing
numpy==2.3.2

# Optional utilities
tqdm==4.67.1

# Jupyter for interactive work (optional)
jupyterlab==4.4.5

# For saving/loading models or general serialization
pyyaml==6.0.2
